<section data-ng-controller="ChatController">
	<div data-ng-repeat="message in messages" data-ng-switch="message.type">
		<strong data-ng-switch-when="status">
			<span data-ng-bind="message.created | date:'mediumTime"></span>
			<span data-ng-bind="message.email"></span>
			<span>is </span>
			<span data-ng-bind="message.text"></span>
		</strong>
		<span data-ng-switch-default>
			<span data-ng-bind="message.created | data:'mediumTime"></span>
			<span data-ng-bind="message.email"></span>
			<span>:</span>
			<span data-ng-bind="message.text"></span>
		</span>
	</div>
	<form ng-submit="sendMessage();">
		<input type="text" data-ng-model="messageText">
		<input type="submit">
	</form>
</section>