<section data-ng-controller="NodesController">
	<a href="/bulbctrl#!/nodes"><h1>创建节点</h1></a>
	<form data-ng-submit="create()" novalidate>
		<div>
			<label for="name">名称</label>
			<div>
				<input type="text" data-ng-model="name" id="name" placeholder="A1" required>
			</div>
		</div>
		<div>
			<label for="deviceId">标识</label>
			<div>
				<input type="text" data-ng-model="deviceId" id="deviceId" placeholder="2A006124A6000146" required>
			</div>
		</div>
		<div>
			<label for="groupId">分组</label>
			<div>
				<select data-ng-model="groupId" id="groupId">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
				</select>
			</div>
		</div>
		<div>
			<label for="status">在线状态</label>
			<div>
				<select data-ng-model="status" id="status">
					<option value="0">离线</option>
					<option value="1">在线</option>
				</select>
			</div>
		</div>
		<div>
			<label for="parent">父节点</label>
			<div>
				<input type="text" data-ng-model="parent" id="parent" placeholder="roots" required>
			</div>
		</div>
		<div>
			<label for="level">调光级别</label>
			<div>
				<select data-ng-model="level" id="level">
					<option value="0">0</option>
					<option value="25">1</option>
					<option value="50">2</option>
					<option value="75">3</option>
					<option value="100">4</option>
				</select>
			</div>
		</div>
		<div>
			<label for="switch">开关状态</label>
			<div>
				<select data-ng-model="switch" id="switch">
					<option value="1">开</option>
					<option value="0">关</option>
				</select>
			</div>
		</div>
		<div>		
		<div>
			<label for="voltage">电压</label>
			<div>
				<input type="text" data-ng-model="params.voltage" id="voltage" placeholder="140"></input>V
			</div>
		</div>
		<div>
			<label for="current">电流</label>
			<div>
				<input type="text" data-ng-model="params.current" id="current" placeholder="10"></input>A
			</div>
		</div>
		<div>
			<label for="power">有功功率</label>
			<div>
				<input type="text" data-ng-model="params.power" id="power" placeholder="15.3"></input>kW
			</div>
		</div>
		<div>
			<label for="frequency">频率</label>
			<div>
				<input type="text" data-ng-model="params.frequency" id="frequency" placeholder="200"></input>kHz
			</div>
		</div>
		<div>
			<label for="energy">电能</label>
			<div>
				<input type="text" data-ng-model="params.energy" id="energy" placeholder="15.3"></input>kWh
			</div>
		</div>
		<div>
			<label for="lifttime">剩余时间</label>
			<div>
				<input type="text" data-ng-model="params.lifttime" id="lifttime" placeholder="80"></input>%
			</div>
		</div>
		<div>
			<label for="location">位置信息</label>
			<div>
				<input type="text" data-ng-model="params.location" id="location" placeholder="上海奔驰文化中心"></input>
			</div>
		</div>
		<hr>
		<div>
			<label for="x">X轴</label>
			<div>
				<input type="text" data-ng-model="metadata.x" id="x" placeholder="0"></input>
			</div>
		</div>
		<div>
			<label for="y">Y轴</label>
			<div>
				<input type="text" data-ng-model="metadata.y" id="y" placeholder="0"></input>
			</div>
		</div>
		<div>
			<label for="z">Z轴</label>
			<div>
				<input type="text" data-ng-model="metadata.z" id="z" placeholder="0"></input>
			</div>
		</div>
		<div>
			<input type="submit">
		</div>
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</h1>
</section>