<section data-ng-controller="NodesController" data-ng-init="findOne()">
	<a href="/bulbctrl#!/nodes"><h1>Edit Node</h1></a>
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="name">名称</label>
			<div>
				<input type="text" data-ng-model="node.name" id="name" placeholder="A1" required>
			</div>
		</div>
		<div>
			<label for="deviceId">标识</label>
			<div>
				<input type="text" data-ng-model="node.deviceId" id="deviceId" placeholder="2A006124A6000146" required>
			</div>
		</div>
		<div>
			<label for="groupId">分组</label>
			<div>
				<select data-ng-model="node.groupId" id="groupId">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
				</select>
			</div>
		</div>
		<div>
			<label for="status">在线状态</label>
			<div>
				<select data-ng-model="node.status" id="status">
					<option value="0">离线</option>
					<option value="1">在线</option>
				</select>
			</div>
		</div>
		<div>
			<label for="parent">父节点</label>
			<div>
				<input type="text" data-ng-model="node.parent" id="parent" placeholder="roots" required>
			</div>
		</div>
		<div>
			<label for="level">调光级别</label>
			<div>
				<select data-ng-model="node.level" id="level">
					<option value="0">0</option>
					<option value="10">1</option>
					<option value="20">2</option>
					<option value="30">3</option>
					<option value="40">4</option>
					<option value="50">5</option>
					<option value="60">6</option>
					<option value="70">7</option>
					<option value="80">8</option>
					<option value="90">9</option>
					<option value="100">10</option>
				</select>
			</div>
		</div>
		<div>
			<label for="switch">开关状态</label>
			<div>
				<select data-ng-model="node.switch" id="switch">
					<option value="1">开</option>
					<option value="0">关</option>
				</select>
			</div>
		</div>		
		<div>
			<label for="voltage">电压</label>
			<div>
				<input type="text" data-ng-model="node.params.voltage" id="voltage"></input>V
			</div>
		</div>
		<div>
			<label for="current">电流</label>
			<div>
				<input type="text" data-ng-model="node.params.current" id="current"></input>A
			</div>
		</div>
		<div>
			<label for="power">有功功率</label>
			<div>
				<input type="text" data-ng-model="node.params.power" id="power"></input>kW
			</div>
		</div>
		<div>
			<label for="frequency">频率</label>
			<div>
				<input type="text" data-ng-model="node.params.frequency" id="frequency"></input>kHz
			</div>
		</div>
		<div>
			<label for="energy">电能</label>
			<div>
				<input type="text" data-ng-model="node.params.energy" id="energy"></input>kWh
			</div>
		</div>
		<div>
			<label for="lifttime">剩余时间</label>
			<div>
				<input type="text" data-ng-model="node.params.lifttime" id="lifttime"></input>%
			</div>
		</div>
		<div>
			<label for="location">位置信息</label>
			<div>
				<input type="text" data-ng-model="node.params.location" id="location"></input>
			</div>
		</div>
		<hr>
		<div>
			<label for="x">X轴</label>
			<div>
				<input type="text" data-ng-model="node.metadata.x" id="x"></input>
			</div>
		</div>
		<div>
			<label for="y">Y轴</label>
			<div>
				<input type="text" data-ng-model="node.metadata.y" id="y"></input>
			</div>
		</div>
		<div>
			<label for="z">Z轴</label>
			<div>
				<input type="text" data-ng-model="node.metadata.z" id="z"></input>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>
