<section data-ng-controller="NodesController" data-ng-init="find()">
	<a href="/bulbctrl#!/nodes"><h1>Nodes Admin（节点管理页）</h1></a>
	<ul data-ng-show="authentication.user.role == 'admin'">
	<li><a href="/bulbctrl#!/nodes/create">Create New Node（创建新节点，只需要填写名称和对应标识，默认分组为0）</a></li>
	<li><a href="/api/init">Initialize All Nodes（重置所有节点，节点数据清零，在线状态为离线，开关状态为关）</a></li>
	<li><a href="/api/sync">Synchronized All Nodes（同步所有节点，节点数据来源于EEM，耗时较长，请谨慎点击）</a></li>
	</ul>
	<ul class="bulb_list">
		<li data-ng-repeat="node in nodes" class="list">
			<a data-ng-href="/bulbctrl#!/nodes/{{node._id}}" data-ng-bind="node.name"></a>
			[ <a href="/bulbctrl#!/nodes/{{node._id}}/edit">Edit</a> | <a href="#" data-ng-click="delete(node);">Delete</a> ]
			<p>
			<p>标识：<strong data-ng-bind="node.deviceId"></strong></p>
			<p>分组：<strong data-ng-bind="node.groupId"></strong></p>
			<p>状态：<span data-ng-switch="node.status">
								<strong data-ng-switch-when="1"><span>在线</span></strong>
								<strong data-ng-switch-default><span>离线</strong></span>
							 </span></p>
			<p>父节点：<strong data-ng-bind="node.parent"></strong></p>
			<p>调光级别：<strong data-ng-bind="node.level"></strong></p>
			<p>开光状态：<strong data-ng-bind="node.switch"></strong></p>
			<p>电压：<strong data-ng-bind="node.params.voltage"></strong> V</p>
			<p>电流：<strong data-ng-bind="node.params.current"></strong> A</p>
			<p>有功功率：<strong data-ng-bind="node.params.power"></strong> kW</p>
			<p>频率：<strong data-ng-bind="node.params.frequency"></strong> kHz</p>
			<p>电能：<strong data-ng-bind="node.params.energy"></strong> kWh</p>
			<p>剩余时间：<strong data-ng-bind="node.params.lifttime"></strong>%</p>
			<p>位置信息：<strong data-ng-bind="node.params.location"></strong></p>
			<p>刷新时间：<strong data-ng-bind="node.updated | date:'short'"></strong></p>
			<hr>
			<p>X轴：<strong data-ng-bind="node.metadata.x"></strong></p>
			<p>Y轴：<strong data-ng-bind="node.metadata.y"></strong></p>
			<p>Z轴：<strong data-ng-bind="node.metadata.z"></strong></p>
		</li>
	</ul>
	<div data-ng-hide="!nodes || nodes.length">
		No nodes yet, why don't you <a href="/bulbctrl#!/nodes/create">create one</a>
	</div>
</section>