<section data-ng-controller="NodesController" data-ng-init="find()">
	<a href="/bulbctrl"><h1>Nodes</h1></a>
	<ul>
		<li data-ng-repeat="node in nodes" class="list">
			<a data-ng-href="/bulbctrl#!/nodes/{{node._id}}" data-ng-bind="node.name"></a>
			<div data-ng-show="authentication.user._id == node.creator._id">
				<a href="/bulbctrl#!/nodes/{{node._id}}/edit">edit</a>
				<a href="#" data-ng-click="delete(node);">delete</a>
			</div>
			<br>
			<p>标识：<strong data-ng-bind="node.deviceId"></strong></p>
			<p>分组：<strong data-ng-bind="node.groupId"></strong></p>
			<p>状态：<strong data-ng-bind="node.status"></strong></p>
			<p>父节点：<strong data-ng-bind="node.parent"></strong></p>
			<p>调光级别：<strong data-ng-bind="node.level"></strong></p>
			<p>刷新时间：<strong data-ng-bind="node.updated | date:'medium'"></strong></p>
		</li>
	</ul>
	<div data-ng-hide="!nodes || nodes.length">
		No nodes yet, why don't you <a href="/bulbctrl#!/nodes/create">create one</a>
	</div>
</section>