        .demo{
            padding: 1.5em 0;
            background: linear-gradient(to right, #f3d08e , #afeb86);
        }

        .pricingTable{
            text-align: center;
            background: #fff;
            margin: 0 -15px;
            box-shadow: 0 0 10px #ababab;
            padding-bottom: 40px;
            border-radius: 10px;
            color: #cad0de;
            transform: scale(1);
            transition: all 0.5s ease 0s;
        }

        .pricingTable:hover{
            transform: scale(1.05);
            z-index: 1;
        }

        .pricingTable .pricingTable-header{
            padding: 40px 0;
            background: #f5f6f9;
            border-radius: 10px 10px 50% 50%;
            transition: all 0.5s ease 0s;
        }

        .pricingTable:hover .pricingTable-header{
            background: #ff9624;
        }

        .pricingTable .pricingTable-header i{
            font-size: 50px;
            color: #858c9a;
            margin-bottom: 10px;
            transition: all 0.5s ease 0s;
        }

        .pricingTable .price-value{
            font-size: 35px;
            color: #ff9624;
            transition: all 0.5s ease 0s;
        }

        .pricingTable .month{
            display: block;
            font-size: 14px;
            color: #cad0de;
        }

        .pricingTable:hover .pricingTable-header i,
        .pricingTable:hover .price-value,
        .pricingTable:hover .month{
            color: #fff;
        }

        .pricingTable .heading{
            font-size: 24px;
            color: #ff9624;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .pricingTable .pricing-content ul{
            list-style: none;
            padding: 0;
            margin-bottom: 30px;
        }

        .pricingTable .pricing-content ul li{
            line-height: 30px;
            color: #a7a8aa;
        }

        .pricingTable .pricingTable-signup a{
            display: inline-block;
            font-size: 15px;
            color: #fff;
            padding: 10px 35px;
            border-radius: 20px;
            background: #ffa442;
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
        }

        .pricingTable .pricingTable-signup a:hover{
            box-shadow: 0 0 10px #ffa442;
        }

        .pricingTable.blue .price-value,
        .pricingTable.blue .heading{
            color: #4b64ff;
        }

        .pricingTable.blue:hover .pricingTable-header,
        .pricingTable.blue .pricingTable-signup a{
            background: #4b64ff;
        }

        .pricingTable.blue .pricingTable-signup a:hover{
            box-shadow: 0 0 10px #4b64ff;
        }

        .pricingTable.red .price-value,
        .pricingTable.red .heading{
            color: #ff4b4b;
        }

        .pricingTable.red:hover .pricingTable-header,
        .pricingTable.red .pricingTable-signup a{
            background: #ff4b4b;
        }

        .pricingTable.red .pricingTable-signup a:hover{
            box-shadow: 0 0 10px #ff4b4b;
        }

        .pricingTable.green .price-value,
        .pricingTable.green .heading{
            color: #40c952;
        }

        .pricingTable.green:hover .pricingTable-header,
        .pricingTable.green .pricingTable-signup a{
            background: #40c952;
        }

        .pricingTable.green .pricingTable-signup a:hover{
            box-shadow: 0 0 10px #40c952;
        }

        .pricingTable.blue:hover .price-value,
        .pricingTable.red:hover .price-value,
        .pricingTable.green:hover .price-value{
            color: #fff;
        }

        @media screen and (max-width: 990px){
            .pricingTable{ margin: 0 0 20px 0; }
        }