body{            padding: 0px;margin: 0px;            overflow-x: hidden;overflow-y: hidden;overflow: hidden;        }
#controls_div{            position: absolute; top: 0px; width: 100%;height:100%;        }
#player {
    bottom: 0px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    z-index: 1;
}

#title_content{
  position:absolute;
  left:50px;
  top:50px;
  z-index: 10;
  color: #fff;
}
#title_content h1{

}
#title_content p{
  text-indent: 100px;
}