<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title><%= title[lang]%></title>
    <link rel="stylesheet" href="styles/base.css"/>
    <link rel="stylesheet" href="styles/common.css"/>
    <link rel="stylesheet" href="styles/lampController.css"/>
    <style>
        #div1{
            width: 70px;
            height: 40px;
            border-radius: 50px;
            position: relative;
        }
        #div2{
            width: 36px;
            height: 36px;
            border-radius: 48px;
            position: absolute;
            background: white;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
            cursor: pointer;
        }
        .open1{
            background: rgba(0,184,0,0.8);
        }
        .open2{
            top: 2px;
            right: 1px;
        }
        .close1{
            background: rgba(255,255,255,0.4);
            border:2px solid transparent;
        }
        .close2{
            left: 0px;
            top: 0px;
            border:2px solid rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<div class="main-left-box border-box floatLeft">
    <table id="lampTableId">
        <!--<tr class="head">
            <td style="border-bottom: none;"></td>
            <td class="bottom-line">1</td>
            <td class="bottom-line">2</td>
            <td class="bottom-line">3</td>
            <td class="bottom-line">4</td>
            <td class="bottom-line">5</td>
            <td class="bottom-line">6</td>
            <td class="bottom-line">7</td>
            <td class="bottom-line">8</td>
            <td class="bottom-line">9</td>
            <td class="bottom-line">10</td>
            <td class="bottom-line">11</td>
            <td class="bottom-line">12</td>
            <td class="bottom-line">13</td>
            <td class="bottom-line">14</td>
            <td class="bottom-line">15</td>
            <td class="bottom-line">16</td>
            <td class="bottom-line">17</td>
            <td class="bottom-line">18</td>
            <td class="bottom-line">19</td>
            <td class="bottom-line">20</td>
        </tr>
        <tr>
            <td class="left-head right-line">A</td>
            <td class="left-border grid"><span class="circle" id="A1"></span></td>
            <td class="grid"><span class="circle" id="A2"></span></td>
            <td class="grid"><span class="circle" id="A3"></span></td>
            <td class="grid"><span class="circle" id="A4"></span></td>
            <td class="grid"><span class="circle" id="A5"></span></td>
            <td class="grid"><span class="circle" id="A6"></span></td>
            <td class="grid"><span class="circle" id="A7"></span></td>
            <td class="grid"><span class="circle" id="A8"></span></td>
            <td class="grid"><span class="circle" id="A9"></span></td>
            <td class="grid"><span class="circle" id="A10"></span></td>
            <td class="grid"><span class="circle" id="A11"></span></td>
            <td class="grid"><span class="circle" id="A12"></span></td>
            <td class="grid"><span class="circle" id="A13"></span></td>
            <td class="grid"><span class="circle" id="A14"></span></td>
            <td class="grid"><span class="circle" id="A15"></span></td>
            <td class="grid"><span class="circle" id="A16"></span></td>
            <td class="grid"><span class="circle" id="A17"></span></td>
            <td class="grid"><span class="circle" id="A18"></span></td>
            <td class="grid"><span class="circle" id="A19"></span></td>
            <td class="grid"><span class="circle" id="A20"></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">B</td>
            <td class="left-border grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="B9"></span></td>
            <td class="grid"><span class="circle" id="B10"></span></td>
            <td class="grid"><span class="circle" id="B11"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">C</td>
            <td class="left-border grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="C10"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">D</td>
            <td class="left-border grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="D3"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="D7"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="D10"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="D13"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="D16"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">E</td>
            <td class="left-border grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="E10"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">F</td>
            <td class="left-border grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span class="circle" id="F9"></span></td>
            <td class="grid"><span class="circle" id="F10"></span></td>
            <td class="grid"><span class="circle" id="F11"></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
            <td class="grid"><span></span></td>
        </tr>
        <tr>
            <td class="left-head right-line">G</td>
            <td class="left-border grid"><span class="circle" id="G1"></span></td>
            <td class="grid"><span class="circle" id="G2"></span></td>
            <td class="grid"><span class="circle" id="G3"></span></td>
            <td class="grid"><span class="circle" id="G4"></span></td>
            <td class="grid"><span class="circle" id="G5"></span></td>
            <td class="grid"><span class="circle" id="G6"></span></td>
            <td class="grid"><span class="circle" id="G7"></span></td>
            <td class="grid"><span class="circle" id="G8"></span></td>
            <td class="grid"><span class="circle" id="G9"></span></td>
            <td class="grid"><span class="circle" id="G10"></span></td>
            <td class="grid"><span class="circle" id="G11"></span></td>
            <td class="grid"><span class="circle" id="G12"></span></td>
            <td class="grid"><span class="circle" id="G13"></span></td>
            <td class="grid"><span class="circle" id="G14"></span></td>
            <td class="grid"><span class="circle" id="G15"></span></td>
            <td class="grid"><span class="circle" id="G16"></span></td>
            <td class="grid"><span class="circle" id="G17"></span></td>
            <td class="grid"><span class="circle" id="G18"></span></td>
            <td class="grid"><span class="circle" id="G19"></span></td>
            <td class="grid"><span class="circle" id="G20"></span></td>
        </tr>-->
    </table>
    <!--<div class="bottom-box">
        <div class="five-star floatLeft">AR</div>
        <div class="five-star floatLeft">AR</div>
        <div class="five-star floatLeft">AR</div>
    </div>-->
</div>

<div class="main-right-box border-box floatLeft">
    <div class="text-box">
        <p class="first-text">/HC2016 IoT/</p>
        <h2 class="second-text">基于6LoWPAN大规模Mesh组网应用展示</h2>
        <div class="third-text">HC2016/ <span>www.huawei.com</span></div>
    </div>
    <div class="light-controller" style="display: none;">
        <div class="online">Online <span class="Jbutton-close button-close"></span></div>
        <div class="bottom-box">
            <div class="controller-box">Lighting Controller <span class="button-arrow-right"></span></div>
            <div class="detail-box border-box">
                <ul class="detail-list-box">
                    <li><span class="drak-text">Device ID</span><span id="deviceId"></span></li>
                    <li><span class="drak-text">Location</span><span id="location"></span></li>
                    <li><span class="drak-text">Status</span><span id="status"></span></li>
                    <li><span class="drak-text"><span>Clear Alarms</span></span></li>
                </ul>
                <div class="button-arr-box">
                    <div class="button-left floatLeft">
                        <p class="button-text">Switch</p>
                        <!--<div class="toggle">
                            <input id="switch" type="checkbox" class="check on" data-type="on"/>
                            <b class="b switch"></b>
                            <b class="b track"></b>
                        </div>-->
                        <div id="div1" class="open1">
                            <div id="div2" class="open2"></div>
                        </div>
                    </div>
                    <div class="button-middle floatLeft">
                        <p class="button-text">Brightness</p>
                        <!--<div>5 <span class="button-down-arrow"></span></div>-->
                        <div>
                            <select class="button-down-arrow" name="light_count" id="light_count" style="">
                                <option value="0">0</option>
                                <option value="30">1</option>
                                <option value="40">2</option>
                                <option value="60">3</option>
                                <option value="80">4</option>
                                <option value="100">5</option>
                            </select>
                        </div>
                    </div>
<!--                     <div class="button-right floatLeft">
                        <p class="button-text">Reset</p>
                        <div id="button_close" class="button-green"></div>
                    </div> -->
                </div>
            </div>
            <div class="six-box border-box">
                <div class="six voltage-box">
                    <div><span id="voltage">140</span>V</div>
                    <p>Voltage</p>
                    <div class="six-pic-box"></div>
                </div>
                <div class="six middle current-box">
                    <div><span id="current">10</span>A</div>
                    <p>Current</p>
                    <div class="six-pic-box"></div>
                </div>
                <div class="six power-box">
                    <div><span id="power">15.3</span>kW</div>
                    <p>Power</p>
                    <div class="six-pic-box"></div>
                </div>
                <div class="six frequency-box">
                    <div><span id="frequency">200</span>kHz</div>
                    <p>Frequency</p>
                    <div class="six-pic-box"></div>
                </div>
                <div class="six middle energy-box">
                    <div><span id="energy">15.2</span>kHh</div>
                    <p>Energy</p>
                    <div class="six-pic-box"></div>
                </div>
                <div class="six lifetime-box">
                    <div><span id="lifetime">80</span>%</div>
                    <p>Lifetime</p>
                    <div class="six-pic-box">
                        <div class="progess-box">
                            <div class="Jprogess progess"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-box border-box">
                Updated:11/03 22:22:01 <span class="button-update"></span>
            </div>
        </div>
    </div>
</div>

<script src="plug/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="js/lighting/common.js"></script>
<script src="js/lighting/lampController.js"></script>
</body>
</html>