<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
	<section ng-view></section>
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-route/angular-route.js"></script>
	<script src="/lib/angular-resource/angular-resource.js"></script>

	<script src="/nodes/nodes.client.module.js"></script>
	<script src="/nodes/controllers/nodes.client.controller.js"></script>
	<script src="/nodes/services/nodes.client.service.js"></script>
	<script src="/nodes/config/nodes.client.routes.js"></script>
	
	<script src="/app/app.client.module.js"></script>
	<script src="/app/controllers/app.client.controller.js"></script>
	<script src="/app/config/app.client.routes.js"></script>
	
	<script src="/users/users.client.module.js"></script>
	<script src="/users/services/authentication.client.service.js"></script>
	
	<script src="/application.js"></script>	
	</body>
</html>