<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<% if (userFullName ) { %>
		<h2>Hello <%=userFullName%></h2>
		<a href="/signout">Sig out</a>
	<% } else { %>
		<!-- <a href="/signup">Signup</a> -->
		<a href="/signin">Signin</a>
	<% } %>
	</div>
</body>
</html>