<% linkCss("/public/styles/base.css") %>
<% linkCss("/public/styles/indexLogin.css") %>

<div class="main-box border-box">
    <div id="left_box" class="left-box floatLeft border-box animation">
        <h1 class="text-h1">照明物联网</h1>
        <h3 class="text-h3">点亮智慧城市</h3>
        <div class="icons-eyes-box">
            <span class="icons-eyes"></span>
            <span class="icons-eyes-text">156</span>
        </div>
        <div class="bottom-text-box"><a href="lampController.html">查看更多</a></div>
    </div>
    <div id="right_box" class="right-box floatLeft border-box animation">
        <h1 class="text-h1">6LoWPAN大规模<br/>Mesh组网</h1>
        <h3 class="text-h3">星际迷航: 银河</h3>
        <div class="icons-eyes-box">
            <span class="icons-eyes"></span>
            <span class="icons-eyes-text">156</span>
        </div>
        <div class="bottom-text-box"><a href="\startrek">查看更多</a></div>
    </div>
</div>