<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于Bootstrap的精美价格表设计|DEMO_jQuery之家-自由分享jQuery、html5、css3的插件库</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/htmleaf-demo.css">
    <link rel="stylesheet" type="text/css" href="/css/manual.css">
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="htmleaf-container">
        <div class="demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="pricingTable">
                                <div class="pricingTable-header">
                                    <i class="fa fa-adjust"></i>
                                    <div class="price-value"> $10.00 <span class="month">per month</span> </div>
                                </div>
                                <h3 class="heading">Standard</h3>
                                <div class="pricing-content">
                                    <ul>
                                        <li><b>50GB</b> Disk Space</li>
                                        <li><b>50</b> Email Accounts</li>
                                        <li><b>50GB</b> Monthly Bandwidth</li>
                                        <li><b>10</b> subdomains</li>
                                        <li><b>15</b> Domains</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-signup">
                                    <a href="#">sign up</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="pricingTable green">
                                <div class="pricingTable-header">
                                    <i class="fa fa-briefcase"></i>
                                    <div class="price-value"> $20.00 <span class="month">per month</span> </div>
                                </div>
                                <h3 class="heading">Business</h3>
                                <div class="pricing-content">
                                    <ul>
                                        <li><b>60GB</b> Disk Space</li>
                                        <li><b>60</b> Email Accounts</li>
                                        <li><b>60GB</b> Monthly Bandwidth</li>
                                        <li><b>15</b> subdomains</li>
                                        <li><b>20</b> Domains</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-signup">
                                    <a href="#">sign up</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="pricingTable blue">
                                <div class="pricingTable-header">
                                    <i class="fa fa-diamond"></i>
                                    <div class="price-value"> $30.00 <span class="month">per month</span> </div>
                                </div>
                                <h3 class="heading">Premium</h3>
                                <div class="pricing-content">
                                    <ul>
                                        <li><b>70GB</b> Disk Space</li>
                                        <li><b>70</b> Email Accounts</li>
                                        <li><b>70GB</b> Monthly Bandwidth</li>
                                        <li><b>20</b> subdomains</li>
                                        <li><b>25</b> Domains</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-signup">
                                    <a href="#">sign up</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="pricingTable red">
                                <div class="pricingTable-header">
                                    <i class="fa fa-cube"></i>
                                    <div class="price-value"> $40.00 <span class="month">per month</span> </div>
                                </div>
                                <h3 class="heading">Extra</h3>
                                <div class="pricing-content">
                                    <ul>
                                        <li><b>80GB</b> Disk Space</li>
                                        <li><b>80</b> Email Accounts</li>
                                        <li><b>80GB</b> Monthly Bandwidth</li>
                                        <li><b>25</b> subdomains</li>
                                        <li><b>30</b> Domains</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-signup">
                                    <a href="#">sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
</body>
</html>