<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- styles -->
    <link rel="stylesheet" href="styles/audioControls.css">
    <link rel="stylesheet" href="styles/hccMain.css">

    <!-- libs -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="plug/jquery-3.0.0.js"></script>
    <script src="plug/jquery-ui.js"></script>
    <script src="plug/three.js"></script>
    <script src="plug/dat.gui.min.js"></script>
    <script src="plug/tween.min.js"></script>

    <!-- lib effects -->
    <script src="plug/postprocessing/EffectComposer.js"></script>
    <script src="plug/postprocessing/ShaderPass.js"></script>
    <script src="plug/postprocessing/MaskPass.js"></script>
    <script src="plug/shaders/FXAAShader.js"></script>
    <script src="plug/shaders/CopyShader.js"></script>
    <script src="plug/shaders/ConvolutionShader.js"></script>
    <script src="plug/postprocessing/BloomPass.js"></script>
    <script src="plug/postprocessing/RenderPass.js"></script>

    <!-- mesh -->
    <script src="plug/loaders/OBJLoader.js"></script>
    <script src="plug/loaders/MTLLoader.js"></script>

    <!-- tools -->
    <script src="js/startrek/InitThree.js"></script>
    <script src="plug/OrbitControls.js"></script>
    <script src="js/startrek/Sel3DObject.js"></script>
    <script src="js/startrek/CameraControls.js"></script>

    <!-- resource -->
    <script src="js/startrek/Textures.js"></script>
    <script src="js/startrek/Shaders.js"></script>

    <!-- music -->
    <script src="js/startrek/AudioVisualizer.js"></script>
    <script src="js/startrek/AudioControls.js"></script>

    <!-- scene -->
    <script src="js/startrek/Main.js"></script>
    <script src="js/startrek/Sky.js"></script>

    <!-- stars -->
    <script src="js/startrek/Statelites.js"></script>
    <script src="js/startrek/CurveAni.js"></script>
    <script src="js/startrek/LineManager.js"></script>
    <script src="js/startrek/Star.js"></script>
    <script src="js/startrek/StarScene.js"></script>

    <!-- data -->
    <script src="js/startrek/DataInterface.js"></script>

</head>
<body onload="HCC_LIGHTS.loadIni();">
<div id="title_content">
    <h1>A Large Scale Mesh Network based on 6LoWPAN</h1>
    <p>Huawei LiteOS Connectivity Middleware</p>
</div>
<div id="description_content">
    <ul>
        <li>Self-organizing</li>
        <li>Low power consumption</li>
        <li>Low cost</li>
        <li>Robust mesh network</li>
        <li>Based on IP</li>
    </ul>
</div>
<div id="player" style="display:none">
    <div class="ctrl">
        <div class="control">
            <div class="left">
                <div class="rewind icon"></div>
                <div class="playback icon" data-action="play" ></div>
                <div class="fastforward icon"></div>
            </div>
            <div class="volume right">
                <div class="tag"></div>
            </div>
        </div>
        <div class="progress">
            <div class="slider">
                <div class="loaded"></div>
                <div class="pace"></div>
            </div>
            <div class="timer left">0:00</div>
        </div>
    </div>
</div>

<div id="controls_div"></div>
<div id="webgl_div">
    <canvas id="webgl_canvas"></canvas>
</div>
</body>
</html>